<script src="../../../js/admin/validacionAdmin.js"></script>
<!doctype html>
<html lang="es">
  <head>
  	<title>SIGEM - Seguimiento</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="../../../images/logo.jpg" type="image/icon type">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="../../../css/style.css">
  </head>
  <body>
      <div class="wrapper d-flex align-items-stretch">
          <!-- Menu lateral Izquierdo -->
          <nav id="sidebar">
				<div class="p-4 pt-5">
                    <a href="../../../pages/administrador/indexadmin.html" class="img logo rounded-circle mb-5" style="background-image: url(../../../images/logo.jpg);"></a>
                    <ul class="list-unstyled components mb-5">
                    <li><a href="../../../pages/administrador/usuarios/users.html">Usuarios</a></li>
                    <li><a href="../../../pages/administrador/periodos/periodos.html">Periodos</a></li>
                    <li><a href="#gestionSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Gestión de Asignaturas</a>
                        <ul class="collapse list-unstyled" id="gestionSubmenu">
                        <li><a href="../../../pages/administrador/gestionAsig/asignaturas/asignaturasxadmin.html">Asignaturas</a></li>
                        <li><a href="../../../pages/administrador/gestionAsig/microcurriculosxadmin.html">Microcurriculos</a></li>
                        <li><a href="../../../pages/administrador/gestionAsig/planesdeaulaxadmin.html">Planes de aula</a></li>
                        </ul>
                    </li>
                    <li class="active">
                    <a href="#gestionMicroSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Seguimiento a Microcurriculo</a>
	                    <ul class="collapse list-unstyled" id="gestionMicroSubmenu">
                        <li class="active"><a href="../../../pages/administrador/seguimientoMicro/seguimientoxadmin.html">Registro de seguimientos</a></li>
                        <li><a href="../../../pages/administrador/seguimientoMicro/aprobadosxadmin.html">Seguimientos aprobados</a></li>
                        <li><a href="../../../pages/administrador/seguimientoMicro/revisionxadmin.html">Seguimientos por revisar</a></li>
                        <!--<li><a href="../seguimientoMicro/controlcambios.html">Control de cambios realizados</a></li>-->
	                    </ul>
	                </li>
                    <li><a href="../estadisticas/statisticsgxadmin.html">Estadísticas</a></li>
                    </ul>
	            <div class="footer">
                    <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script> Todos los derechos reservados |
                    Desarrollado <i  class="icon-heart" aria-hidden="true"></i> por <a href="https://colorlib.com" target="_blank">Andrés Alfonso - Jonathan Bernal</a>
                    </p>
	            </div>
	      </div>
    	</nav>
          <!-- Contenido de la página -->
          <div id="content" class="p-4 p-md-5">
              <!-- Menu Flotante superior -->
              <nav class="navbar navbar-expand-lg navbar-light bg-light">
                  <div class="container-fluid">
                      <button type="button" id="sidebarCollapse" class="btn btn-primary"><i class="fa fa-bars"></i><span class="sr-only">Toggle Menu</span></button>
                      <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
                      <div class="collapse navbar-collapse" id="navbarSupportedContent">
                          <ul class="nav navbar-nav ml-auto">
                              <li class="nav-item"><a class="nav-link" href="../../../pages/administrador/indexadmin.html">Inicio</a></li>
                              <li class="nav-item"><a class="nav-link" href="http://siul.unilibre.edu.co/sinugwt/">SIUL</a></li>
                              <li class="nav-item"><a class="nav-link" href="../../../pages/administrador/perfilxadmin.html">Perfil</a></li>
                              <li class="nav-item"><a class="nav-link" onclick="cerrarSesion()">Cerrar Sesión</a></li>
                          </ul>
                      </div>
                  </div>
              </nav>
              <!-- Contenido de la Página  -->
              <div id="crearSeguimiento">
                <div class="container-fluid">
                    <!-- Barra de busqueda -->
                    <div class="row">
                        <div class="col-md-10">
                                  <div class="form-group">
                                      <input class="form-control" type="text" placeholder="Nombre de la asginatura">
                                  </div>
                              </div>
                        <div class="col-md-1">
                            <div class="form-group">
                                <button type="button" class="btn btn-warning col-md-12"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group">
                                <button type="button" class="btn btn-warning col-md-12" data-toggle="modal" data-target="#seguimientoModal" data-whatever="@mdo"><i class="fa fa-plus-square"> </i></button>
                            </div>
                        </div>
                    </div>
                    <!-- Modal de edición -->
                    <div class="modal fade" id="seguimientoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog modal-xl" role="document">
                              <div class="modal-content">
                                  <div class="modal-header">
                                      <h5 class="modal-title" id="exampleModalLabel">Seguimiento</h5>
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                      </button>
                                  </div>
                                  <div class="modal-body">
                                      <form>
                                          <div class="form-group">
                                              <div class="row">
                                                  <div class="col">
                                                      <label for="diaSeguimiento">Día</label>
                                                      <input type="text" class="form-control limpiar" placeholder="DD/MM/AAAA" id="diaSeguimiento">
                                                  </div>
                                                  <div class="col">
                                                      <label for="horaSeguimiento">Hora</label>
                                                      <input type="text" class="form-control limpiar" placeholder="HH:MM" id="horaSeguimiento">
                                                  </div>
                                                  <div class="col">
                                                      <label for="nroEstudiantes">Cantidad de participantes</label>
                                                      <input type="text" class="form-control limpiar" id="nroEstudiantes">
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="row">
                                              <div class="col-md-1">
                                                  <div class="form-group">
                                                      <label for="unidad">Código</label><br>
                                                      <label><font SIZE=3>{{asignaturaSeleccionada}}</font></label>
                                                  </div>
                                              </div>
                                              <div class="col-md-11">
                                                  <div class="form-group">
                                                      <label for="unidad">Asignatura</label>
                                                      <select v-model="asignaturaSeleccionada" class="form-control" id="asignatura" @change="traerUnidades()" required>
                                                          <option v-for="(asignatura,indice) of asignaturas" :value="asignatura.Cod_Asignatura">{{asignatura.Nombre_Asig}}</option>
                                                      </select>
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="row">
                                              <div class="col">
                                                  <div class="form-group">
                                                      <label for="unidad">Unidad</label>
                                                      <select v-model="unidadSeleccionada" class="form-control" id="unidad" @change="traerSubtemas()" required>
                                                          <option v-for="(unidad,indice) of unidades" :value="unidad.Cod_Unidad">{{unidad.Nombre_Unidad}}</option>
                                                      </select>
                                                  </div>
                                              </div>
                                              <div class="col">
                                                  <div class="form-group">
                                                      <label for="exampleFormControlSelect1">Tema</label>
                                                      <select v-model="subtemaSeleccionado" class="form-control" id="subtema" required>
                                                          <option v-for="(subtema,indice) of subtemas" :value="subtema.Cod_Subte">{{subtema.Nombre_Subte}}</option>
                                                      </select>
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="row">
                                              <div class="col">
                                                  <div class="form-group">
                                                      <label for="exampleFormControlSelect1">Actividad</label>
                                                      <input type="text" class="form-control limpiar" id="Actividad" required>
                                                  </div>
                                              </div>
                                          </div>
                                          <hr />
                                          <!-- Recurso Usado -->
                                          <div class="row">
                                              <div class="col">
                                                  <div class="form-group">
                                                      <label for="exampleFormControlSelect1">Recurso Usado</label>
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="row">
                                              <div class="col">
                                                  <div class="form-check">
                                                      <input class="form-check-input limpiar" type="checkbox" value="" id="recursoTeams">
                                                      <label class="form-check-label" for="flexCheckDefault">Microsoft Teams</label>
                                                  </div>
                                              </div>
                                              <div class="col">
                                                  <div class="form-check">
                                                      <input class="form-check-input limpiar" type="checkbox" value="" id="recursoElibre">
                                                      <label class="form-check-label" for="flexCheckDefault">Plataforma ELibre</label>
                                                  </div>
                                              </div>
                                              <div class="col">
                                                  <div class="form-group">
                                                      <input type="text" class="form-control limpiar" id="recursoOtro" placeholder="Otro recurso">
                                                  </div>
                                              </div>
                                          </div>
                                          <!-- Fin Recurso Usado -->
                                          <hr />
                                          <!-- Material empleado -->
                                          <div class="col">
                                              <label for="exampleFormControlInput1">Material empleado</label>
                                          </div>
                                          <div class="row">
                                              <div class="col">
                                                  <div class="form-check">
                                                      <input class="form-check-input limpiar" type="checkbox" value="" id="materialGuia">
                                                      <label class="form-check-label" for="flexCheckDefault">Guia de aprendizaje</label>
                                                  </div>
                                                  <div class="form-check">
                                                      <input class="form-check-input limpiar" type="checkbox" value="" id="materialInstructivo">
                                                      <label class="form-check-label" for="flexCheckDefault">Instructivo en excel o word</label>
                                                  </div>
                                              </div>
                                              <div class="col">
                                                  <div class="form-check">
                                                      <input class="form-check-input limpiar" type="checkbox" value="" id="materialDiapositiva">
                                                      <label class="form-check-label" for="flexCheckDefault">Presentacion de diapositivas</label>
                                                  </div>
                                                  <div class="form-check">
                                                      <input class="form-check-input limpiar" type="checkbox" value="" id="materialVideo">
                                                      <label class="form-check-label" for="flexCheckDefault">Videos</label>
                                                  </div>
                                              </div>
                                              <div class="col">
                                                  <div class="form-group">
                                                      <input type="text" class="form-control limpiar" id="materialOtro" placeholder="Otro material">
                                                  </div>
                                              </div>
                                          </div>
                                          <hr />
                                          <!-- Fin de Material empleado -->
                                          <div class="row">
                                                <div class="col">
                                                    <div class="form-group">
                                                        <label for="nivelFormacion" class="col-form-label">Actividad Desarrollada</label>
                                                        <select class="form-control" id="actSincronica">
                                                            <option value="" disabled>Seleccione</option>
                                                            <option value="Sincronica">Sincronica</option>
                                                            <option value="Asincronica">Asincronica</option>
                                                        </select>
                                                    </div>
                                                </div>
                                          </div>
                                          <div class="row">
                                              <div class="col">
                                                  <div class="form-group">
                                                      <label for="exampleFormControlSelect1">Observaciones</label>
                                                      <input type="text" class="form-control limpiar" id="observaciones">
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="row mb-4">
                                              <div class="col">
                                                  <label for="exampleFormControlInput1">Soporte</label>
                                                  <input type="text" class="form-control limpiar" id="soporte">
                                              </div>
                                          </div>
                                      </form>
                                  </div>
                                  <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                      <button type="button" class="btn btn-success">Guardar</button>
                                  </div>
                              </div>
                          </div>
                      </div>
                    <!-- Tabla resultado de busqueda -->
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col"><small>Día</small></th>
                                    <th scope="col"><small>Hora</small></th>
                                    <th scope="col"><small>Tematica</small></th>
                                    <th scope="col"><small>Subtema</small></th>
                                    <th scope="col"><small>Actividad</small></th>
                                    <th scope="col"><small>Recurso usado</small></th>
                                    <th scope="col"><small>Material Empleado</small></th>
                                    <th scope="col"><small>Actividad desarrollada</small></th>
                                    <th scope="col"><small>Nro. Participantes</small></th>
                                    <th scope="col"><small>Observaciones</small></th>
                                    <th scope="col"><small>Soporte</small></th>
                                    <th scope="col"><small>Estado</small></th>
                                    <th scope="col"><small>Observaciones Jefe de Área</small></th>
                                    <th scope="col"><small>Editar</small></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(seguimiento,indice) of datosSeguimientos">
                                    <td><small>{{seguimiento.Dia_Segui}}</small></td>
                                    <td><small>{{seguimiento.Horario_Segui}}</small></td>
                                    <td><small>{{seguimiento.Nombre_Unidad}}</small></td>
                                    <td><small>{{seguimiento.Nombre_Subte}}</small></td>
                                    <td><small>{{seguimiento.Actividad_Segui}}</small></td>
                                    <td><small>
                                        {{seguimiento.estrategiaTeams}}<br>
                                        {{seguimiento.estrategiaElibre}}<br>
                                        {{seguimiento.estrategiaOtro}}
                                    </small></td>
                                    <td><small>
                                        {{seguimiento.materialGuias}}<br>
                                        {{seguimiento.materialWord}}<br>
                                        {{seguimiento.materialDiapositiva}}<br>
                                        {{seguimiento.materialVideos}}<br>
                                        {{seguimiento.materialOtro}}
                                    </small></td>
                                    <td><small>{{seguimiento.actSincronica_Segui}}</small></td>
                                    <td><small>{{seguimiento.Participantes_Segui}}</small></td>
                                    <td><small>{{seguimiento.Observa_Segui}}</small></td>
                                    <td><small>{{seguimiento.Soporte}}</small></td>
                                    <td><small>{{seguimiento.Estado}}</small></td>
                                    <td><small>{{seguimiento.jefeObserva_Segui}}</small></td>
                                    <td><button type="button" class="btn btn-warning col-md-12"><i class="fa fa-edit"></i></button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
              </div>
          </div>
      </div>
    <script src="../../../js/jquery.min.js"></script>
    <script src="../../../js/popper.js"></script>
    <script src="../../../js/bootstrap.min.js"></script>
    <!-- Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <!-- Axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- Sweet Alert 2 -->
    <script src="../../../plugins/sweetalert2/sweetalert2.all.min.js"></script>
    <script src="../../../js/main.js"></script>
    <script src="../../../js/admin/seguimientoMicro/seguimiento.js"></script>
  </body>
</html>
